<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produit</title>

    
</head>
<body>
    {%include 'partials/file.html' %}

    <nav class="navbar navbar-light bg-dark">
        <span class="navbar-text">
        Bienvenue au Produit
        </span>
    </nav>

    


    <table class="table-responsive table-bordered">
        <thead>
          <tr>
            <th class="bg-success" scope="col">#</th>
            <th class="bg-success" scope="col">Designation</th>
            <th class="bg-success" scope="col">Type</th>
            <th class="bg-success" scope="col">Action</th>
          </tr>
        </thead>
    
        <tbody>
            {% for p in prod %}
                <tr>
                    <td>{{p.pk}}</td>
                    <td>{{p.designation}}</td>
                    <td>{{p.type.designation}}</td>
                    <td>
                      
                      <button onclick=location.href="{% url 'modifier_produits' p.pk %}" type="button" class="btn btn-warning" > Edit  </button>
                      <button onclick=location.href="{% url 'supprimer_produits' p.pk %}" type="button" class="btn btn-danger" > Delete </button>
          
                    </td>
                </tr>
                {% endfor %}
        </tbody>
      </table>

   




</body>
</html>