<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {%include 'partials/file.html' %}

    <nav class="navbar navbar-light bg-dark">
        <span class="navbar-text">
            Modification du produit
        </span>
    </nav>

    <h3>Modifier le produit : </h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button onclick=location.href="{% url 'produits' %}" type="button" class="btn btn-primary"> Annuler </button>
        <button type="submit" class="btn btn-success"> Modifier </button>
    </form>

</body>

</html>