<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rechercher produit</title>

  <style>
    #search-box>* {
      margin: 2%;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
    }
  </style>
</head>

<body>
  {%include 'partials/file.html' %}

  <nav class="navbar navbar-light bg-dark">
    <span class="navbar-text">
      Recherche des produits
    </span>
  </nav>



  <div id="search-box">
    <form action="" method="get">
      <label class="form-label" for="rechercher">Rechercher des produits : </label>
      <input id="rechercher" required name="rechercher" type="text" />
      <button type="submit" class="btn btn-success">Rechercher</button>
    </form>
    <h4> resultat de reherche : </h4>
  </div>



  <table class="table-responsive table-bordered table-center">
    <thead>
      <tr>
        <th class="bg-success" scope="col">#</th>
        <th class="bg-success" scope="col">Designation</th>
        <th class="bg-success" scope="col">Type</th>
        <th class="bg-success" scope="col">Action</th>
      </tr>
    </thead>



    <tbody>
      {% for p in prod %}
      <tr>
        <td>{{p.pk}}</td>
        <td>{{p.designation}}</td>
        <td>{{p.type.designation}}</td>
        <td>

          <button onclick=location.href="{% url 'modifier_produits' p.pk %}" type="button" class="btn btn-warning"> Edit
          </button>
          <button onclick=location.href="{% url 'supprimer_produits' p.pk %}" type="button" class="btn btn-danger">
            Delete </button>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


</body>

</html>