<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supprimer bon commande</title>
    <style>
        h4,
        #confirm-delete-form {
            margin: 2%;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
        }
    </style>
</head>

<body>
    {%include 'partials/file.html' %}

    <nav class="navbar navbar-light bg-dark">
        <span class="navbar-text">
            Supression d'un bon commande
        </span>
    </nav>


    <h4>Vous etes en train de supprimer le bon commande : </h4>

    <table class="table-responsive table-bordered">
        <thead>
          <tr>
            <th class="bg-success" scope="col">#</th>
            <th class="bg-success" scope="col">Code document</th>
            <th class="bg-success" scope="col">Designation</th>
            <th class="bg-success" scope="col">Qte</th>
          </tr>
        </thead>
    
    
    
        <tbody>
            {% for t in typep %}
          <tr>
            <td>{{t.pk}}</td>
            <td>{{t.code_document}}</td>
            {% for c in t.contient.all %}
            <td>{{c.designation}}</td>
            {% endfor %}
            <td>{{t.qte}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    


    <form id="confirm-delete-form" method="post">
        {% csrf_token %}
        <button onclick=location.href="{% url 'bon_commandes' %}" type="button" class="btn btn-primary"> Annuler </button>
        <button type="submit" class="btn btn-danger"> Supprimer </button>
    </form>


</body>

</html>