<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Etat Stock</title>

  <style>
    .card>*,
    #search-box,
    .list-message {
      margin: 2%;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
    }
  
  </style>

</head>

<body>
  {%include 'partials/file.html' %}

  <nav class="navbar navbar-light bg-dark">
    <span class="navbar-text">
      Bienvenue au Etat du stock
    </span>
  </nav>

  <h4 class="list-message">La liste des produits en stock:  <button onclick=location.href="{% url 'imprimer_etat_stock' %}" type="button" class="btn btn-warning">
    Imprimer Stock</button></h4>

  <table class="table-responsive table-bordered">
    <thead>
      <tr>
        <th class="bg-success" scope="col">Code Produit</th>
        <th class="bg-success" scope="col">Date Saisie</th>
        <th class="bg-success" scope="col">Qte</th>
        <th class="bg-success" scope="col">Prix d'achat</th>
        <th class="bg-success" scope="col">Prix de vente</th>
      </tr>
    </thead>
    <tbody>
      {% for ps in produits_stock %}
      <tr>
        <td>{{ps.pk}}</td>
        <td>{{ps.date_saisie}}</td>
        <td>{{ps.qte}}</td>
        <td>{{ps.prix_achat}}</td>
        <td>{{ps.prix_vente}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <div class="table-responsive">
    <table class="table table-striped
    table-hover	
    table-borderless
    table-primary
    align-middle">
      <thead class="table-light">
        <caption></caption>
        <tr>
          <th>Prix Achat Total</th>
          <th>Prix Vente Total</th>
          <th>Différence</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr class="table-primary" >
            <td>{{total_achat}}</td>
            <td>{{total_vente}}</td>
            <td>{{diff}}</td>
          </tr>
        </tbody>
        <tfoot>
          
        </tfoot>
    </table>
  </div>


  

</body>

</html>